:root {
  --whiteblue-color: #dbe2ef;
  --white-color: #f9f7f7;
  --navy-color: #3f72af;
  --darkblue-color: #112d4e;
  --red-color: #D11A2A;
  --red-color-active: #B1000A;
  --calibri-font: 'calibri';
  --montserrat-font: 'montserrat';
}

body {
  background-color: var(--whiteblue-color);
  font-family: var(--calibri-font);
}

/* ------------------ */
/* | Form container | */
/* ------------------ */

.form-container {
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 1em auto 1em auto;
  padding: 20px;
  width: 40%;
}

.form-container label {
  color: var(--navy-color);
  font-size: 25px;
  text-align: center;
}

.form-container .title-input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--darkblue-color);
  display: block;
  font-size: 20px;
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
}

.form-container .textarea {
  width: 99%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0 0 20px;
  outline: none;
  resize: vertical;
}

.form-container .submit-btn {
  background-color: var(--navy-color);
  border: 0;
  color: var(--white-color);
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
}

.form-container .submit-btn:active {
  background-color: var(--darkblue-color);
}

/* ------------------ */
/* | Card style     | */
/* ------------------ */

.main .card {
  width: 40%;
  padding: 1px 20px;
  margin: 0 auto 1em auto;
  background-color: var(--white-color);
  border-radius: 5px;
}

.main .card .title {
  font-size: 1.5em;
  word-wrap: break-word;
}

.main .card .description {
  font-size: 1.05em;
}

/* ------------------ */
/* | Buttons style  | */
/* ------------------ */

.main .card .options-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5em;
  margin: 0 0 1em 0;
}

.main .card .options-buttons button {
  width: 25%;
  padding: 0.7em;
  cursor: pointer;
  border-style: none;
}

.main .card .options-buttons .update-btn {
  background-color: var(--navy-color);
  color: var(--white-color);
}

.main .card .options-buttons .update-btn:active {
  background-color: var(--darkblue-color);
  color: var(--white-color);
}

.main .card .options-buttons .delete-btn {
  background-color: var(--red-color);
  color: var(--white-color);
}

.main .card .options-buttons .delete-btn:active {
  background-color: var(--red-color-active);
  color: var(--white-color);
}

/* ------------------ */
/* | Update style  | */
/* ------------------ */

.update-modal {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0;
}

.modal-content {
  background-color: var(--white-color);
  margin: 10% auto 0 auto;
  padding: 0.5em 1.5em;
  width: 30%;
  border-radius: 4px;
}

.modal-content h1 {
  color: var(--darkblue-color);
}

.modal-content label {
  color: var(--navy-color);
  font-size: 25px;
  text-align: center;
}

.modal-content .title-modal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--darkblue-color);
  display: block;
  font-size: 20px;
  margin: 0 0 20px;
  padding: 10px;
  width: 100%;
}

.modal-content .textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0 0 20px;
  outline: none;
  resize: vertical; 
}

.modal-content .buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 0.5em;
  margin: 0 0 1em 0;
}

.modal-content .buttons-container button {
  padding: 0.7em;
  cursor: pointer;
  border-style: none;
  color: white;
}

.modal-content .buttons-container button:nth-child(1) {
  background-color: var(--red-color);
}

.modal-content .buttons-container button:nth-child(1):active {
  background-color: var(--red-color-active);
}

.modal-content .buttons-container button:nth-child(2) {
  background-color: var(--navy-color);
}

.modal-content .buttons-container button:nth-child(2):active {
  background-color: var(--darkblue-color);
}